
body{
	font-family: sans-serif;
	background-color: #dedede;
}
.container{
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 0px 8px grey;
	text-align: center;
}
.container-center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
h1{
	font-weight: normal;
	margin-top: 40px;/*<!-- 40px from top-->*/
}
input,button{
	border-radius: 25px;
	margin: 20px;
	outline: none; /*<!--to remove the blue outline when we click on the input box-->*/
}
input{
	height: 30px;
	width: 250px;
	border:1px solid;
	text-indent: 10px;/*<!-- to start the first character away from the left margin-->*/
	font-size: 18px;
}
input:focus{
	border:1.5px solid #14b005 ;
}
button{
	height: 40px;
	width:130px;
	border:0px;
	background-color: #14b005;/*<!--light green color-->*/
	color: white;
	font-size:20px;
	cursor: pointer;/*<!--hand symbol when we hover over the button-->*/

}
button:hover{
	background-color: #008000;/*<!--dark green color-->*/
}
